{# searchbar.qss.j2 — QSS template for TSearchBar component #}

TSearchBar {
    background-color: transparent;
    padding: 0px;
}

TSearchBar TInput {
    background-color: transparent;
}

TSearchBar TInput QLineEdit {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
}

TSearchBar TButton {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
